<meta charset="UTF-8">
<title>AseuniCESMAG</title>

<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">

<meta name="viewport" content="width=device-width; initial-scale=1, maximun-scale=1">
