<%- include('../partials/head'); %>

<%- include('../partials/sidebar'); %>

<%- include('../partials/header'); %>

<main> 
    <div class="container">
        <div class="main-grid">
            <div class="container-avatar">
                <div class="avatar">
                    <div class="button-edit-face">
                        <a href="#" class="btn">
                            <p>Edit</p>
                            <span class="ti-face-smile"></span>
                        </a>
                    </div>
                </div>
                <div class="container-name">
                    <h5>JOHN ALEXANDER GUERRERO</h5>
                    <div style="display: flex; justify-content: space-evenly;">
                        <span class="ti-email"></span>
                        <h6>johnalexguerrero@gmail.com</h6>
                    </div>
                </div>
            </div>
            <div class="summary">
                <div class="summary-profile">
                    <div class="profile-single">
                        <a href="/egresados/p/informacion-basica">
                            <h5>Información básica</h5>
                            <div>
                                <span class="ti-email"></span>
                                <small>jalexguerrero@gmail.com</small>
                            </div>
                        </a>
                    </div>
                    <div class="profile-single">
                        <a href="#">
                            <h5>Información académica</h5>
                            <div>
                                <span class="ti-book"></span>
                                <small>INGENIERIA DE SISTEMAS</small>
                            </div>
                        </a>
                    </div> 
                </div>
                <div class="summary-profile">
                    <div class="profile-single">
                        <a href="#">
                            <h5>Información laboral</h5>
                            <div>
                                <span class="ti-linkedin"></span>
                                <small>Experiencia</small>
                            </div>
                        </a>
                    </div> 
                    <div class="profile-single">
                        <a href="#">
                            <h5>Beneficiarios</h5>
                            <div>
                                <span class="">6</span>
                                <small>Familiares</small>
                            </div>
                        </a>
                    </div>
                    
                </div>
                <div class="summary-profile">
                    <div class="profile-single">
                        <a href="#">
                            <h5>Información básica</h5>
                            <div>
                                <span class="ti-email"></span>
                                <small>jalexguerrero@gmail.com</small>
                            </div>
                        </a>
                    </div>
                    <div class="profile-single">
                        <a href="#">
                            <h5>Información académica</h5>
                            <div>
                                <span class="ti-book"></span>
                                <small>INGENIERIA DE SISTEMAS</small>
                            </div>
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
</main>


